<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<!-- 10.20: displaying mp's on user's SHOW pg -->
<div class="row">
  <aside>

  </aside>
  <div class="span8">
    <%if @user.microposts.any?#prevents empty list from being displayed %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
        </ol>
        <%= will_paginate @microposts %>
        <% end %>
  </div>
</div>