<!-- #10.33: partial for create mp's -->
<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%=  f.text_area :content, maxlength:140, placeholder: "Compose new micropost..." %>
</div>
<%=  f.submit "Post", class: "btn btn-large btn-primary" %>

    <!-- #10.5.7 mp char count -->
    <span class="countdown"></span>

<% end %>