<!--10.21: partial for a single micropost -->
<li>
  <!--#10.5.6: wrapping words -->
  <span class="content"><%= wrap(micropost.content) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <!--#10.46: delete link for mp -->
  <% if current_user?(micropost.user) %>
        <!--#10.5.5: eliminate the duplication in the delete links-->
        <%= render :partial => 'microposts/delete confirmation', locals: {object: micropost} %>
  <% end %>
</li>